.popover-element[data-state=true] {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.popover-element {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    background: #fff;
    transition: .3s;
    margin-bottom: 10px;
}

.popover-element:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(135deg);
    width: 10px;
    height: 10px;
    background: #fff;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
}

.popover-title {
    box-sizing: border-box;
    padding: 5px 10px;
    background: #f7f7f7;
    display: block;
    width: 100%;
}

.popover-description {
    box-sizing: border-box;
    padding: 5px 10px; 
}